$color: blue;
$zero: 0;
$bodyFont: 'Helvetica Neue Light','Helvetica Neue',Helvetica,Menlo;
$fontWeight:100;
*{
    margin: $zero; font-family: $bodyFont;  font-weight: $fontWeight;
}
body{
    //color:$color;
}
