$color: blue;
$zero: 0;
$bodyFont: "HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Menlo";
$bodyFontWidth:300;
*{
    margin: $zero; font-family: $bodyFont; font-weight: $bodyFontWidth;
}

body{
    //color:$color;
}
