{
    "ecmaVersion": 6,
    "ecmaFeatures": {
        "jsx":true,
        "experimentalObjectRestSpread": true
    },
    "env":{
        "es6":true,
        "browser": true,
        "node": true,
        "jquery": true
    }
}
